@{
    ViewData["Title"] = "Cleaner";
}

<div class="contenedor-login">
  <div class="card text-bg-dark">
    <img src="..\img\cleaner_limpiando.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h2 class="card-title-cleaner">CLEANER</h2>

      <p class="card-text"></p>
    </div>
  </div>

<div class="card-cleaner">
    <img src="..\img\Imagen_ChicaEsponja.jpg" class="card-img-cleaner" alt="Hazte Cleaner">
    <div class="card-content">
      <h2 class="card-title-servicio">Hazte Cleaner</h2>
      <p class="card-text-cleaner">
        Convertite en Cleaner en muy pocos clicks.
        Obtené tu trabajo en instantes.
        Generá tu certificado de Cleaner y ganá más con tus limpiezas.
        <strong>Hacé click ahora y descubrí un mundo nuevo.</strong>
      </p>
      <a href='#'><button class="card-button-cleaner">HAZTE CLEANER</button></a>
    </div>
  </div>

<div class="card-cleaner">
    <div class="card-content">
      <h2 class="card-title-servicio">Pedí Un Cleaner</h2>
      <p class="card-text-cleaner">
        Nuestra empresa brinda una alta calidad en la seguridad de tus limpiezas.
        Además, podés conseguir a los mejores Cleaners.
        Conocé a tu próximo Cleaner haciendo click aquí abajo. 
        <strong>¡No pierdas tiempo!</strong>
      </p>
      <a href='#'><button class="card-button-cleaner">PEDÍ UN CLEANER</button></a>
    </div>
    <img src="..\img\Imagen_ChicaSpray.jpg" class="card-img-cleaner" alt="Pedí Un Cleaner">
  </div>