@{
    ViewData["Title"] = "Contacto";
}

<div class="contenedor-confirmacion">
    <h1>¡Gracias por contactarte con <span class="resaltado">Clean It!</span></h1>
    <p class="mensaje">
        @(ViewBag.Nombre), Hemos recibido tu mensaje sobre @(ViewBag.Servicio), y nuestro equipo lo revisará en los próximos días. A la brevedad nos pondremos en contacto contigo.<br>
        ¡Gracias por utilizar Clean IT!
    </p>
</div>